{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "target": "es2019",
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs",
    "lazy": true
  }
}
